<main>
    <section>
        <div class="img-body">
            <div class="img-header-content">
              <p>Únete a esta gran comunidad para comenzar a apoyar a cientos de personas.</p>
              <button mat-flat-button color="accent" [routerLink]="['/register']"style="width: 25%; height: 25%;">Quiero unirme</button>
            </div>
        </div>
    </section>
    <div class="height-divider"></div>
    <section class="color-section">
        <div class="div-center">
            <h2>Equipo de Desarrollo</h2>
        </div>
        <div style="display: inline-flex">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Cristopher Angulo</mat-card-title>
                  <mat-card-subtitle> Desarrollador Frontend </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image  src="./assets/CristopherPerfil.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>

              </mat-card>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Benjamín Cáceres</mat-card-title>
                  <mat-card-subtitle>Desarrollador Full Stack</mat-card-subtitle>

                </mat-card-header>
                <img mat-card-image src="./assets/BenjaminImagen.jfif" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>

              </mat-card>
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Cristián Godoy</mat-card-title>
                  <mat-card-subtitle> Desarrollador Backend </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="./assets/CristianImg.jfif" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>

            </mat-card>
        </div>
        <div>

        </div>
    </section>
</main>