.img-body{
    background-image: url("https://images.unsplash.com/photo-1495653797063-114787b77b23?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    height: 90vh;
    background-size: cover;
    margin-top: 0px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}

.img-header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.3);
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.height-divider{
    height: 40px;
}

.color-section{
    background: #EEEEEE;
}

.div-center{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}