.form-field{
    border-radius: 15px;
    background-color: #EBEBEB;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0;
    padding-bottom: 14px;
    margin-top: 6px;
    margin-bottom: 15px;
    height: 38px;
    width: 18em;
}

.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.register-container{
    width: 700px;
    padding: 10px 10px 10px 10px;
    box-shadow: 2px 2px 25px grey;
    border-radius: 15px;
}

ul{
    list-style: none;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-focused .mat-form-field-hide-placeholder{
    color:black;
  }
  

.input-label{
    padding-left: 15px;
}

.form-field-container{
    margin-bottom: 10px;
    margin-top: 15px;
}

.btn-register{
    background-color: #08D9D6;
    color: white;
    width: 100%;
    border-radius: 12px;
}

.btn-cancel{
    color: #FF2E63;
    width: 100%;
    border-radius: 12px;
    border-width: 1px;
    border-color: #FF2E63;
}

.btn-float-back{
    position: absolute;
    left: 75px;
    top: 75px;
}