
<button mat-mini-fab color="accent" aria-label="Example icon button with a menu icon" class="btn-float-back" [routerLink]="['/home']">
    <mat-icon>arrow_back</mat-icon>
</button>

<div class="main-div">
    <mat-card class="register-container">
        <mat-card-header>
            <mat-card-title class="card-title">
                Registro de usuarios
            </mat-card-title>
            <mat-card-subtitle>
                Ingrese sus datos para crear su cuenta en Unnamed
            </mat-card-subtitle>
        </mat-card-header>
        <form #formularioLogin="ngForm" (ngSubmit)="register(formularioLogin)" autocomplete="off">
            <mat-card-content>
                <mat-grid-list cols="2">
    
                    <mat-grid-tile class="left-col">
                        <mat-list>
                            <mat-list-item class="form-field-container">                             
                                <div>
                                    <label class="input-label">Correo electrónico:</label>
                                    <mat-form-field floatLabel='never' class="form-field">
                                        <mat-label>Ingrese su e-mail</mat-label>
                                        <input 
                                        type="text" 
                                        matInput 
                                        placeholder="Email" 
                                        email 
                                        name="email"
                                        required
                                        [(ngModel)]="user.correo"                
                                        >
                                    </mat-form-field>
                                </div>
                            </mat-list-item>
                            <br>
                            <mat-list-item class="form-field-container">                             
                                <div>
                                    <label class="input-label">Contraseña:</label>
                                    <mat-form-field floatLabel='never' class="form-field">
                                        <mat-label>Elija una contraseña</mat-label>
                                        <input 
                                        name="password"
                                        type="password" 
                                        matInput 
                                        [(ngModel)]="user.password"
                                        placeholder="Password" 
                                        required
                                        minlength="4"  >                     
                                    </mat-form-field>
                                </div>
                            </mat-list-item>
                            <br>
                            <!-- <mat-list-item class="form-field-container">                             
                                <div>
                                    <label class="input-label">Confirmación de contraseña:</label>
                                    <mat-form-field floatLabel='never' class="form-field">
                                        <mat-label>Confirme su constraseña</mat-label>
                                        <input matInput type="password">
                                    </mat-form-field>
                                </div>
                            </mat-list-item> -->
                            <br>
                            <mat-list-item class="form-field-container"> 
                                <button mat-stroked-button class="btn-cancel" color="accent" [routerLink]="['/home']">Cancelar</button>
                            </mat-list-item>
                        </mat-list>
                    </mat-grid-tile>
    
                    <mat-grid-tile class="right-col">
                        <mat-list>
                            <mat-list-item class="form-field-container"> 
                                <div>
                                    <label class="input-label">Nombre:</label>
                                    <mat-form-field floatLabel='never' class="form-field">
                                        <mat-label type="text">Ingrese su nombre</mat-label>
                                        <input 
                                        type="text" 
                                        matInput 
                                        placeholder="Nombre" 
                                        name="nombre"
                                        required
                                        [(ngModel)]="user.nombre"                
                                        >
                                    </mat-form-field>
                                </div>
                            </mat-list-item>
                            <br>
                            <!-- <mat-list-item class="form-field-container"> 
                                <div>
                                    <label class="input-label">Apellidos:</label>
                                    <mat-form-field floatLabel='never' class="form-field">
                                        <input matInput type="text" placeholder="Ingrese sus Apellidos">
                                    </mat-form-field>
                                </div>
                            </mat-list-item> -->
                            <br>
                            <!-- <mat-list-item class="form-field-container"> 
                                <div>
                                    <label class="input-label">Numero de telefono:</label>
                                    <mat-form-field floatLabel='never' class="form-field">
                                        <input matInput type="phone" placeholder="Numero de teléfono">
                                    </mat-form-field>
                                </div>
                            </mat-list-item> -->
                            <br>
                            <mat-list-item class="form-field-container"> 
                                <button mat-flat-button class="btn-register"  type="submit">Finalizar registro</button>
                            </mat-list-item>
                        </mat-list>
                    </mat-grid-tile>
    
                </mat-grid-list>
            </mat-card-content>
        </form>
    </mat-card>
</div>