<button mat-mini-fab color="accent" aria-label="Example icon button with a menu icon" class="btn-float-back" [routerLink]="['/home']">
  <mat-icon>arrow_back</mat-icon>
</button>
<mat-card>
    <mat-card-content>
      <form  #formularioLogin="ngForm" (ngSubmit)="login(formularioLogin)" autocomplete="off">
        <mat-icon>person</mat-icon>
        <h2>Iniciar Sesión</h2>
        <mat-error>
          El usuario y contraseña no son reconocidos
        </mat-error>
        <mat-form-field class="full-width-input">
          <mat-label>Ingrese su e-mail</mat-label>
          <input 
            type="text" 
            matInput 
            placeholder="Email" 
            email 
            name="email"
            required
            [(ngModel)]="user.correo"                
          >
          <mat-error>
            Por favor ingresa un correo válido
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input 
            name="password"
            type="password" 
            matInput 
            [(ngModel)]="user.password"
            placeholder="Password" 
            required
            minlength="4"
          >     
          <mat-error>
            Por favor ingresa una contraseña válida
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="button-SignIn">Ingresar</button>

      </form>
      <button mat-raised-button color="primary" class="button-SignUp" (click)="goToRegister()">Registrarse</button>

    </mat-card-content>
</mat-card>