mat-card {
  max-width: 30%;
  margin: 2em auto;
  text-align: center;
  margin-top: 15%;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  display: block;
}

.button-SignIn{
  background: #08D9D6;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.button-SignUp{
  background: #FF2E63;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.btn-float-back{
  position: absolute;
  left: 75px;
  top: 75px;
}
