
 /* Espacio */
.spacer {
    flex: 1 1 auto;
}

 /* Sombra del Navbar */
.box-shadow{
  box-shadow: 1px 1px 5px grey;
  background-color: white(114, 99, 214, 0.842) ;
}

.button-SingIn{
  background: #08D9D6;
  color: white;
}