<mat-toolbar class="box-shadow">

    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>

    <span>Hackaton ReCoders</span>
    <span class="spacer"></span>

    <button mat-button>Wiki </button>
    <button mat-button color="primary">Ver Noticias y Artículos</button>
    <button mat-button color="accent">Donaciones</button>

    <button mat-raised-button class="button-SingIn" [routerLink]="['/login']">Iniciar Sesión</button>

</mat-toolbar>
